body{
    font-size: 1000;
}

h1{
    font-size: 75px;
    text-align: center;
}

img{
    padding-left: 750px ;
    padding-right: 750px;
    border-image: auto;
    height: 500px;
}

h2{
    font-size: 35px;
    padding-left: 20%;
}